## Import the standard libraries

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Loading the data

In [17]:
data = pd.read_csv('temperature_data.csv')
data

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     Red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9        Cold  Yellow       1

## One Hot Encoding:

- Color Column is a nominal column hence we perform OHE on Color Column

### Step 1 : Apply OHE on Nominal columns and store them in a different dataframe

In [18]:
data_ohe = pd.get_dummies(data['Color'], drop_first = True)
data_ohe

   Red  Yellow
0    1       0
1    0       1
2    0       0
3    0       0
4    1       0
5    0       1
6    1       0
7    0       1
8    0       1
9    0       1

In [19]:
data

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     Red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9        Cold  Yellow       1

### Step 2 : Join the OHE dataframe with the original dataframe

In [20]:
data = pd.concat([data, data_ohe], axis = 1)
data

  Temperature   Color  Target  Red  Yellow
0         Hot     Red       1    1       0
1        Cold  Yellow       1    0       1
2    Very Hot    Blue       1    0       0
3        Warm    Blue       0    0       0
4         Hot     Red       1    1       0
5        Warm  Yellow       0    0       1
6        Warm     Red       1    1       0
7         Hot  Yellow       0    0       1
8         Hot  Yellow       1    0       1
9        Cold  Yellow       1    0       1

### Step 3: Drop all columns from the original data on OHE is performed

In [21]:
data.drop('Color', axis = 1, inplace = True)

In [22]:
data

  Temperature  Target  Red  Yellow
0         Hot       1    1       0
1        Cold       1    0       1
2    Very Hot       1    0       0
3        Warm       0    0       0
4         Hot       1    1       0
5        Warm       0    0       1
6        Warm       1    1       0
7         Hot       0    0       1
8         Hot       1    0       1
9        Cold       1    0       1

## Label Encoding on Temperature column

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [24]:
data['Temperature'] = le.fit_transform(data['Temperature'])
data

   Temperature  Target  Red  Yellow
0            1       1    1       0
1            0       1    0       1
2            2       1    0       0
3            3       0    0       0
4            1       1    1       0
5            3       0    0       1
6            3       1    1       0
7            1       0    0       1
8            1       1    0       1
9            0       1    0       1